<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no">   -->
    <meta name="viewport" content="device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        // var dpr = window.devicePixelRatio||1;
        // console.log(document.documentElement.clientWidth)
        // var scale = 1/dpr;
        
        // document.write('<meta name="viewport" content="iwidth=device-width,nitial-scale='+scale+', maximum-scale='+scale+', minimum-scale='+scale+', user-scalable=no">')
        var clientW = document.documentElement.clientWidth>750?750:document.documentElement.clientWidth;
        document.documentElement.style.fontSize = clientW / 7.5 + 'px';

        // var phoneWidth =  parseInt(window.screen.width);
        // var phoneScale = phoneWidth/750;
        // var ua = navigator.userAgent;
        // if (/Android (\d+\.\d+)/.test(ua)){
        //     var version = parseFloat(RegExp.$1);
        //     if(version>2.3){
        //         document.write('<meta name="viewport" content="width=750, minimum-scale = '+phoneScale+', maximum-scale = '+phoneScale+', target-densitydpi=device-dpi">');
        //     }else{
        //         document.write('<meta name="viewport" content="width=750, target-densitydpi=device-dpi">');
        //     }
        // } else {
        //     document.write('<meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi">');
        // }
    </script>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        #app{
            background: #000;
            width: 7.5rem;
            font-size: 14px;
            color: #fff;
            margin: auto;
        }
        input{
            width: 2rem;
            height: .4rem;
            line-height: .4rem;
        }
        p{
            font-size: 100px;
            margin-left: 2rem;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="text" placeholder="开始时间" v-model="form.begin_n">
        <input type="text" placeholder="结束时间" v-model="form.end_n">
        <input type="text" disabled placeholder="总天数" v-model="form.total_days">
        <button @click="handlerGetTotal">计算总天数</button>
        <br>
        <input type="text" placeholder="天数" v-model="form.days">
        <input type="text" disabled placeholder="日期" v-model="form.overDate">
        <button @click="handlerGetDate">计算日期</button>
        <br>
        <button @click="handlerReset">重置</button>
        <p>cs</p>
    </div>


    <script>
        var app = new Vue({
            el:'#app',
            data:{
                form:{
                    begin_n:'',
                    end_n:'',
                    total_days:'',
                    days:'',
                    overDate:''
                },
                
            },
            created() {

            },
            methods: {
                handlerGetTotal(){
                    let time_1 = new Date(this.form.begin_n).getTime();
                    let time_2 = new Date(this.form.end_n).getTime();
                    let spas = time_2-time_1;
                    this.form.total_days=spas/1000/60/60/24;
                },
                handlerGetDate(){
                    let time_1 = new Date(this.form.begin_n).getTime();
                    let days_time = this.form.days*1000*60*60*24;
                    let overDate = new Date(time_1+days_time).toLocaleDateString();
                    this.form.overDate=overDate;
                },
                handlerReset(){
                    Object.keys(this.form).map((v,i,a)=>{
                        console.log(v);
                        this.form[v]=''
                    })
                }
            },
        })
    </script>
</body>
</html>