<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>3000首页</title>
    <style>
    .box{
        max-width: 100%;
        overflow-x:auto; 
    }    
    </style>
</head>
<body>
    <form action="/login" method="post">
        姓名：<input type="text" name="username">
        密码：<input type="text" name="password">
        <button type="submit">提交</button>
    </form>
    <button onclick="location.replace('./replace.html')">replace</button>
    <div class="box">
        <div>
                123aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa321
        </div>
        
    </div>
</body>
</html>